<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="button.css">
    <title>VKApp</title>
</head>

<body>

    <div id="app">


    <div style="text-align: center; font-size: 30px;">
        Выберите Локацию:
    </div>
    <div id="maindiv">
        <div style="width: 50%;">
          <ol>
            <li v-for="item in listloc">
                <a href="#" @click="(event) => choiseloc(item,event)">{{ item }}</a>
            </li>
          </ol>
        </div>
        
    </div>
    <div id="maindiv">
      <div style="font-size: 40px;">Количество игроков</div>
  </div>
  <div id="maindiv">
    <input type="range" min="3" max="12" step="1" v-model="value"> 
    <label style="font-size: 25px;" v-text="total"></label>
  </div>
  <div id="maindiv"><button class="custom-btn btn-16">Начать игру</button></div>
  

</div>





    <script src="https://unpkg.com/vue@3"></script>
    <script src="script.js"></script>
    <script>
      Vue.createApp({
        data() {
          return {
            listloc:locations,
            value: 3,
          }
        },
        methods: {
            choiseloc(name,event) {
                event.target.style.backgroundColor = 'red'

                
            }
        },
        computed: {
          total: function () {
          return this.value
          }
        }
      }).mount('#app')
    </script>

</body>

</html>