
* {
        box-sizing: border-box;

        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

    }

body {
    margin: 0;
    padding: 0;
    <!-- display: flex; -->
    justify-content: center;
    align-items: center;
    font-family: Consolas;
    background-color: #0a0a0a;
}