.maincon {
    background-color: #00ff90;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.compname {
    position: relative;
    overflow: hidden;
    height: auto;
    z-index: 0;
    transition: 1s;
    white-space: nowrap;
}
    .compname:hover {
        z-index: 100;
        transition: 5s;
        font-size: 18px;
    }

#RS {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2ch;
    transition: 1.5s;
}
#RI {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2ch;
    transition: 1.5s;
}
#PE {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2ch;
    transition: 1.5s;
}
#PA {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2ch;
    transition: 1.5s;
}

#RS:hover {
    box-shadow: 0 0 10px #fffa00,0 0 20px #fffa00;
    background: #fffa00;
    color: #000000;
    width: 20ch;
    transition: 2s;
}
#RI:hover {
    box-shadow: 0 0 10px #fffa00,0 0 20px #fffa00;
    background: #fffa00;
    color: #000000;
    width: 20ch;
    transition: 2s;
}

#PE:hover {
    box-shadow: 0 0 10px #000000,0 0 20px #000000;
    background: #000000;
    color: #ffffff;
    width: 20ch;
    transition: 2s;
}

#PA:hover {
    box-shadow: 0 0 10px #000000,0 0 20px #000000;
    background: #000000;
    color: #ffffff;
    width: 20ch;
    transition: 2s;
}