.wdth {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    z-index: 0;
    margin: 0 auto;
    width: auto\9;
    transition: 1s;
}
    .wdth:hover {
        z-index: 100;
        box-shadow: 0 0 10px #b6ff00,0 0 50px #b6ff00;
        transform: scale(1.5);
        transition: 1s;
    }
    